button {
    background: var(--button-default-background);
    color: var(--button-default-colour);
    border: 1px solid var(--button-default-border-colour);
    display: flex;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
    user-select: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    &:hover:not([disabled]) {
        background: var(--button-default-hover-background);
    }

    &:active {
        background: var(--button-default-active-background) !important;
        border-color: #99d0ff;
    }

    &:focus {
        outline: none;
        border-color: #b3b3b3;
    }

    &:disabled {
        background: #d0d0d0 !important;
        cursor: initial;
    }
}

button.primary {
    background: #1ba0de;
    border-color: #47b8ff;
    color: aliceblue;

    &:hover:not([disabled]) {
        background: #41abdd;
        border-color: #7acfff;
    }

    &:active {
        background: #2a9acf !important;
        border-color: #7acfff;
    }

    &:focus {
        border-color: #a5dfff;
    }
}
