.alert {
    background: white;
    position: relative;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #dedede;
    border-top: 0.25rem solid #38a0ff;
    border-radius: 0.25rem;
}

.alert.warning {
    border-top-color: #ffcf00;
}
