.navbar {
    display: flex;
    align-items: center;
    padding: 0.25rem calc(1.5rem / 2);
    border-bottom: 1px solid #dedede;

    & > div {
        display: flex;
        align-items: center;
    }

    h1, h2, h3, h4, h5 {
        margin: 0.5rem 1rem 0.5rem 0;
    }
}
